html, body, #root {
  height: 100%;
  
}

.App {
  height: 100%;
  width: 100%;
}

.button-main-page {
  width: 20rem;
  height: 40rem;
}

.inputbox {
 background-color: white;
 width: 100%;
 border-color: white;
 border: 0ch;
 position: inline;
}

*:focus{
  outline: none;
}

.chatbar {
  width: 75%;
  bottom: 0;
  background-color: white;
  position: fixed;
  border: solid;
  border-color: #D0D4D9;
  border-radius: 1rem;
  border-width: 0.001rem;
  margin-bottom: 2%;
  right: 2rem;
}

.image-photo-btn {
  margin-top: 0.3rem;
}


th {
  padding: 0.5rem;
}


.searchchat {
right: 0.5%;
margin-top: 1%;
position: fixed;
}

.input-searchchat {
  border-color: white;
  border-radius: 0.4rem;
  background-color: #ECECEC;
  border: 0;
  
}

.welcome-text {
  text-align: center;
  color: #C3C1CC;
}

.submit-btn {
  border: none;
  background-color: transparent;
}

.submit-btn:hover {
  background-color: #EFEFEF;
}

.submit-btn-img {
  height: 35px;
  width: 35px;
}

.chatbox-buttons {
  width: 100%;
}

.inputbox-tablecell {
  width: 70%;
}