html, body, #root {
  height: 100%;
  
}

.App {
  height: 100%;
  width: 100%;
}

.button-main-page {
  width: 20rem;
  height: 40rem;
}

.inputbox {
 background-color: white;
 width: 80rem;
 border-color: white;
 border: 0ch;
 position: inline;
}


.chat-container {
  background-color: white;
  position: absolute !important;
  bottom: 0 !important;
  right: 0;
  height: 85%;
  width: 80%;
  display: flex;
  justify-content: center;
  margin-right: 2.5%;
  margin-bottom: 1%;
}

.chatbar {
  width: 100%;
  bottom: 0;
  background-color: white;
  position: absolute;
  border: solid;
  border-color: #D0D4D9;
  border-radius: 1rem;
  border-width: 0.001rem;
}

.image-photo-btn {
  margin-top: 0.3rem;
}


th {
  padding: 0.5rem;
}


.searchchat {
right: 0%;
position: absolute;
}

.input-searchchat {
  border-color: white;
  border-radius: 0.4rem;
  background-color: #ECECEC;
  border: 0;
}

.welcome-text {
  text-align: center;
  color: #C3C1CC;
  padding: 25%;
}